$storyBookWidth: 1160px;
$storyBookHeight: 760px;
/*
  Made with love by @joshDComp & @mtthwbsh
*/
//each file below should have a block comment at the top of the document which acts as a debugging flag.
//CONFIG/RESET
  @import "global/variables";
  @import "global/mixins";
  @import "global/modules";//this is its own index
  @import "global/reset";
//GENERAL STYLING
  @import "global/gen-styles";
//CONTAINER

.storyboard-container{
  display: block;
    height: $storyBookHeight;
    width: $storyBookWidth;
    margin: 80px auto;
  position: relative;
}//.container

.story_book{
  display: block;
    height: $storyBookHeight;
    width: $storyBookWidth;
  overflow: hidden;
  border: solid thin $slate;
}//.story_book
//COVERS
  @import "slides/cover";
  @import "slides/coliphon";
  

/* UI ELEMENTS */
.ui-elements{
  @extend .story_book;
  overflow: visible;
  display: none;
  border: none;
  position: absolute;
}//.ui-elements

  .ui__keyboard{
    position: absolute;
      bottom: -90px;
      right: 10px;
    display: block;
      width: 220px;
      height: 80px;
      
    img{
      display: inline-block;
      float: left;
      margin: 0px 10px 0px 0px;
      opacity: .5;
      cursor: pointer;
      
      &.pressed{
        opacity: 1;
      }//.pressed
    }//img
    
      .ui__keyboard--top-key{
        display: block;
        clear: both;
        float: none;
        width: 65px;
        margin: 0px 0px 0px 70px;
      }//.ui__keyboard--top-key
      
      .ui__keyboard--left-key,
      .ui__keyboard--right-key{
        width: 60px;
        position: relative;

        &:after{
          font-size: 10px;
          display: block;
          position: absolute;
            top: -10px;
            left: 0px;
          font-family: $serif;
        }
      }//.ui__keyboard--top-key
      
      .ui__keyboard-left-key{
        &:after{
          content: 'Previous';
        }//:after
      }//.ui__keyboard-left-key
      
      .ui__keyboard-right-key{
        &:after{
          content: 'Next';
        }
      }//.ui__keyboard-right-keu
      
      .ui__keyboard--botom-key{
        width: 65px;
      }//.ui__keyboard--top-key
      
  }//.ui__keyboard
  
  .ui__left-button,
  .ui__right-button{
    cursor: pointer;
    display: block;
      width: 50px;
      height: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .5;
    
    &:hover{
      opacity: 1;
    }//:hover
    
  }//.ui__left-button
  
  .ui__left-button{
    background-image: url('img/ui-elements/left-arrow-buton.png');
    left: -70px;

  }//.ui__right-button
  
  .ui__right-button{
    background-image: url('img/ui-elements/right-arrow-button.png');
    right: -70px;
  
  }//.ui__right-button
      
/*  SLIDES */

.slide{
  position: relative;
  display: none;
    //height: 2000px;
    margin: 0px 0px 100px;
  
  * {
    display: none;
  }
    
  img{
    position: absolute;
    
  }
  
  p{
    color: $slideBodyColor;
  }//p
  
  &.visible{
    display: block;
  }//.visible
}//.slide

  .slide__title{  
    position: absolute;
    text-align: right;
    font-size: 175px;
    line-height: 1;
    color: $slideTitleColor;
  }//.slide__title
  
  

  @import "slides/1-classmates";
  @import "slides/2-partiers";
  @import "slides/3-roadies";
  @import "slides/4-the-talk";
  @import "slides/5-happiness-plus-plus";
  @import "slides/6-family-plus-plus";
  @import "slides/7-city-bound";
  @import "slides/8-roommates";
