/*
  Made with love by @joshDComp & @mtthwbsh
*/
//each file below should have a block comment at the top of the document which acts as a debugging flag.
//CONFIG/RESET
  @import "global/variables";
  @import "global/mixins";
  @import "global/modules";//this is its own index
  @import "global/reset";
//GENERAL STYLING
  @import "global/gen-styles";
//CONTAINER
.story_book{
  display: block;
    height: 975px;
    width: 1485px;
    margin: 10px auto;
  overflow: hidden;
  border: solid thin $slate;
}//.story_book
//COVERS
  @import "slides/cover";
  @import "slides/coliphon";
/*  SLIDES */

.slide{
  position: relative;
  display: block;
    height: 2000px;
    margin: 0px 0px 100px;
    
  img{
    position: absolute;
    
  }
  
  p{
    color: $slideBodyColor;
  }
}//.slide

  .slide__title{  
    position: absolute;
    text-align: right;
    font-size: 214px;
    line-height: 1.2;
    color: $slideTitleColor;
  }//.slide__title
  
  

  @import "slides/1-classmates";
  @import "slides/2-partiers";
  @import "slides/3-roadies";
  @import "slides/4-the-talk";
  @import "slides/5-happiness-plus-plus";
  @import "slides/6-family-plus-plus";
  @import "slides/7-city-bound";
  @improt "slides/8-roommates";