//------------------------------------------------------------------------------
/* GLOBAL STYLES */
//this is where basic type, colors, and scaffolding or whatever
// #Reset & Basics (Inspired by E. Meyers)
//------------------------------------------------------------------------------

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

//------------------------------------------------------------------------------
// #Basic Styles
//------------------------------------------------------------------------------
	
	@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
	
	body {
		background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 
//------------------------------------------------------------------------------
// Landing Styles
//------------------------------------------------------------------------------

.container	{
	width: 800px;
	min-height: 900px;
	margin: 30px auto;
	background-image: url(../img/home_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition:all 2s ease-in-out;
	perspective: 800px;
	perspective-origin: 50% 100px;
	-moz-text-shadow: 2px 2px #9C9C9C;
	-webkit-text-shadow: 2px 2px #9C9C9C;
	text-shadow: 2px 2px #9C9C9C;
}

a	{
	color:#AF5F50;
	opacity: .7;
	text-decoration: none;
	&:hover	{
		color: #AF5F50;
		opacity: 1.0;
		text-decoration: none;
		-moz-text-shadow: 2px 4px #999999;
		-webkit-text-shadow: 2px 4px #999;
		text-shadow: 2px 4px #999;
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		-ms-transform: translateY(-2px);
		-o-transform: translateY(-2px);
		transform: translateY(-2px);
		font-size: 38px;
	}
}

a.button	{
	opacity: .9;
	text-align: center;
	padding: 10px 25px;
	font-size: 22px;
	font-weight: 500;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #AF5F50;
	background-image: -moz-linear-gradient(top, #AF5F50, #D17665);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AF5F50), to(#D17665));
	background-image: -webkit-linear-gradient(top, #AF5F50, #D17665);
	background-image: -o-linear-gradient(top, #AF5F50, #D17665);
	background-image: linear-gradient(to bottom, #AF5F50, #D17665);
	background-repeat: repeat-x;
	border: 1px solid #AC5D4E;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 20px 1px #2B2B2B;
	-webkit-box-shadow: 2px 2px 20px 1px #2B2B2B;
	box-shadow: 2px 2px 20px 1px #2B2B2B;
	&:hover	{
		text-decoration: none;
		background-position: 0 -25px;
		-webkit-transition: background-position 0.25s linear;
		-moz-transition: background-position 0.25s linear;
		-o-transition: background-position 025s linear;
		transition: background-position 0.25s linear;
		opacity: 1.0;
	}
	&:active	{
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		-ms-transform: translateY(-2px);
		-o-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}

span	{
	color: #AF5F50;
	font-weight: bold;
	font-size: 50px;
}

.text	{
	width: 600px;
	padding: 40px 20px;
	margin: auto;
	text-align: center;
	color: white;
}

h1	{
	opacity: .9;
	font-size: 36px;
	font-weight: 500;
	line-height: 42px;
}

h2	{
	font-weight: 500;
	font-size: 28px;
	padding: 100px 0 150px 0;
}

h3	{
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	span	{
		font-size: 24px;
		font-weight: bold;
		-moz-text-shadow: 1px 1px #9C9C9C;
		-webkit-text-shadow: 1px 1px #9C9C9C;
		text-shadow: 1px 1px #9C9C9C;
	}
}


//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

//------------------------------------------------------------------------------
// Images
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}