//------------------------------------------------------------------------------
//GLOBAL DECLARATIONS
// This is where you name colors and fonts eg: $blue: rgba(0,0,1000.999);
// RGBA is for debugging
//------------------------------------------------------------------------------

//------
//COLORS
  $teal: rgba(123, 152, 140, 0.999);
  $slate: grayscale(78);

//-----
//FONTS
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);
$sans: 'Source Sans Pro', sans-serif;
$sansFontWeight: 900;

$bodyFont: 'Gentium Basic', serif;


//------------------------------------------------------------------------------
//GLOBAL NAMES
// These are the names you use in the actual stylesheets eg: $link-color: $blue;
// And in the styles: color: $link-color;
//------------------------------------------------------------------------------

//------------------
//MEDIA QUERY VALUES


//-----------
//SCAFFOLDING


//------
//COLORS



//-----
//FONTS
$sans: 'Source Sans Pro', sans-serif;
$sansFontWeight: 900;

$bodyFont: 'Gentium Basic', serif;
