$storyBookWidth: 1160px;
$storyBookHeight: 760px;
/*
  Made with love by @joshDComp & @mtthwbsh
*/
//each file below should have a block comment at the top of the document which acts as a debugging flag.
//CONFIG/RESET
  @import "global/variables";
  @import "global/mixins";
  @import "global/modules";//this is its own index
  @import "global/reset";
//GENERAL STYLING
  @import "global/gen-styles";
// UI ELEMENTS
  @import "global/storyboard";
  @import "global/ui-elements";
//CONTAINER
  @import "slides/1-classmates";
  @import "slides/2-partiers";
  @import "slides/3-roadies";
  @import "slides/4-the-talk";
  @import "slides/5-happiness-plus-plus";
  @import "slides/6-family-plus-plus";
  @import "slides/7-city-bound";
  @import "slides/8-roommates";
  
.tooltip {
  border-bottom: solid 1px;
  position: relative;
  cursor: pointer; }
  .tooltip .tooltip--contents {
    display: none;
    width: 250px;
    position: absolute;
    top: -115px;
    left: -105px;
    text-align: center;
    background-color: #4e4e4e;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .tooltip .tooltip--contents:after {
      position: absolute;
      content: '';
      display: block;
      bottom: -20px;
      left: 45%;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #4e4e4e;
      z-index: 100; }
  .tooltip:hover {
    background-color: rgba(123, 152, 140, 0.999);
    color: white; }
    .tooltip:hover .tooltip--contents {
      display: block; }