/* Slide 2 */
.slide.partiers{
  
  .slide__title{
    top: -64px;
    right: -100%;
  }//.slide__title
  
}//.slide.classmates

    .partiers__drunkenly-biked{
        width: 240px;
        font-size: $fontSizeNormal;
        position: absolute;
          top: 300px;
          left: 20px;
    }//.partiers__drunkenly-biked
    
    .partiers__cant-slip-away{
        width: 240px;
        font-size: $fontSizeNormal;
        position: absolute;
          top: 390px;
          left: 20px;
    }//.cant-slip-away
    
    .partiers__foreshadowing{
        width: 290px;
        position: absolute;
        top: 680px;
        right: 20px;
        font-size: 30px;
        font-weight: 600;
    }//.partiers__foreshadowing
    
    .partiers__little-flags{
        width: 395px;
        top: 85px;
        left: 341px;
        z-index: 20;
    }//.partiers__little-flags
    
    .partiers__drunk-matt{
        width: 220px;
        top: 130px;
        left: -120px;
        z-index: 15;
    }//.partiers__drunk-matt
    
    .partiers__kate-couch{
        width: 325px;
        top: 250px;
        right: 240px;
        z-index: 10;
    }//.partiers__kate-couch
    
    .partiers__bar-bg{
        width: 295px;
        top: 185px;
        right: 100px;
    }//.partiers__bar-bg