/* Slide 3 */
.slide.roadies{
  
  .slide__title{
    top: -64px;
    right: -100%;
  }//.slide__title
  
}//.slide.classmates

    .roadies__moved-home{
        display: none;
          width: 240px;
        font-size: $fontSizeNormal;
        text-align: right;
        position: absolute;
          top: 250px;
          right: 20px;
    }//.partiers__drunkenly-biked
    
    .roadies__foreshadowing{
        display: none;
          width: 240px;
        font-size: $fontSizeNormal;
        position: absolute;
          top: 390px;
          left: 20px;
    }//.cant-slip-away
    
    .roadies__beaumont{
      
    }//.roadies__beaumont
    
    .roadies__caulder{
      
    }//.roadies__caulder
    
    .roadies__el{
      
    }//.roadies__el
    
    .roadies__gr{
      
    }//.roadies__gr
    
    .roadies__michigan{
      display: none;
        width: 500px;
        z-index: 10;
      top: 10px;
      left: 80px;
    }//.roadies__michigan
    
    .roadies__path1,
    .roadies__path2,
    .roadies__path3,
    .roadies__path4,
    .roadies__path5,
    .roadies__path6,
    .roadies__path7,
    .roadies__path8{
      
    }//.roadies__path1