/* Slide 4 */
.slide.the-talk{
  
  .slide__title{
    top: -64px;
    right: -100%;
  }//.slide__title
  
}//.slide.the-talk

    .the-talk__stolen-thunder1{
        display: none;
            width: 345px;
        position: absolute;
            top: 125px;
            left: 55px;
        font-size: 22px;
    }//.the-talk__stolen-thunder

    .the-talk__stolen-thunder2{
        display: none;
            width: 345px;
        position: absolute;
            top: 265px;
            left: 55px;
        font-size: 22px;
    }//.the-talk__stolen-thunder
    
    .the-talk__foreshadowing{
        display: none;
            width: 740px;
        position: absolute;
            top: 675px;
            left: 55px;
        font-size: 35px;
    }//.the-talk__foreshadowing
    
    .the-talk__background{
        display: none;
            width: 680px;
        top: 95px;
        right: 12px;
        
    }//.the-talk__background
    
    .the-talk__brick{
        display: none;
            width: 626px;
        top: 478px;
        right: 1px;
    }//.the-talk__brick
    
    .the-talk__kate{
        display: none;
        width: 220px;
        top: 110px;
        right: -235px;
    }//.the-talk__kate
    
    .the-talk__matt{
        display: none;
        width: 241px;
        top: 60px;
        right: 1245px;
    }//.the-talk__matt
