/* Slide 8 */
.slide.meet-up{
  
  .slide__title{
    top: -54px;
    right: -100%;
  }//.slide__title
  
}//.slide.the-talk

    .meet-up__message{
        display: none;
        width: 335px;
        position: absolute;
        top: 125px;
        right: 50px;
        font-size: 22px;
        text-align: right;
    }//.city-bound__graduation
    
    .meet-up__map-canvas{
        width: 745px;
        height: 500px;
        margin: 0px;
        //background-color: rgba(200, 200, 200, 0.3);
        background-image: url('img/meetup-map.png');
        position: relative;
        top: 221px;
        font-size: 22px;
        text-align: right;
        left: 40px;
    }//.meet-up__map-canvas
    
    .meet-up__map-tooltip{
        display: none;
            width: 300px;
            height: 50px;
        overflow: auto;
        background-color: white;
        position: absolute;
            top: 346px;
            left: 144px;
        box-shadow: 0px 0px 10px rgba(20,20,20,0.3);
        z-index: 10;
        
        h2{
            display: block;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
            opacity: .7;
            
            a{
                display: block;
                color: $slate;
            }//a
            
            &:hover{
                opacity: 1;
            }//:hover
            
        }//h2
    }//.meet-up__map-tooltip
    
    .slide .meet-up__she-said-yes{
        display: none;
        position: absolute;
        bottom: -109px;
        right: 150px;
        font-size: 62px;
        text-align: right;
        text-transform: uppercase;
        font-family: $sans;
        font-weight: 900;
        font-style: normal;
        width: 100px;
        text-align: center;
        color: $slate;
    }