/* Cover */

/*
    when styling specific elements, it's actually best to avoid using element selectors to style specific elements, like the title of the page. You end up getting really strange 
*/
//------------------------------------------------------------------------------
// Landing Styles
//------------------------------------------------------------------------------
$everythingTop: 300px;

.story_book__intro{
    display: none;
        width: 100%;
        padding: 20px;
    position: absolute;
        left: 0px;
    text-align: center;
    color: $slate;
  
    .button{
        opacity: .7;
        background-image: url('img/enter-button.png');
        cursor: pointer;
        padding: 33px 0;
        position: absolute;
            top: $everythingTop;
            left: 38%;
        display: block;
            width: 210px;
            height: 130px;
        font-size: 42px;
            font-family: $serif;
            font-weight: 300;
            font-style: italic;
            text-transform: capitalize;
            text-align: center;
        color: white;
        background-repeat: no-repeat;
        text-decoration: none;
        
        &:hover  {
            opacity: 1.0;
        }
    &:active  {
      @include prefixed(transform, translateY(-2px))
    }
  }//.button
}//.story_book__intro

    .story_book__intro__header {
        display: block;
        position: absolute;
            top: 600px;
            right: 58px;
        width: 355px;
        font-weight: 900;
        font-family: $sans;
        text-transform: uppercase;
        text-align: right;
        color: $slate;
    }
        .story_book__intro__header--preamble{
            display: block;
            font-size: 35px;
            line-height: .9;
        }//.story_book__intro__header--preamble
        
        .story_book__intro__header--story{
            display: block;
            font-size: 114px;
            line-height: 76px;
        }//.story_book__intro__header--story
    
    .story_book__intro__to-from{
        position: absolute;
        left: 50px;
        
        &.kate{
            top: 328px;
        }
        
        &.matt{
            top: 360px;
        }
    }//story_book__intro__to-from
        
        .story_book__intro__to-from--label{
            font-size: 24px;
                font-weight: 400;
                font-family: $serif;
                font-style: italic;
                text-align: right;
                text-transform: lowercase;
            margin: 0;
            width: 200px;
            display: inline-block;
            color: $teal;
            vertical-align: middle;
        }//.story_book__intro__to-from--label
        
        .story_book__intro__to-from--name{
            font-size: 34px;
            font-weight: 900;
            text-align: left;
            display: inline-block;
            width: 300px;
            color: $slate;
            font-family: $sans;
            vertical-align: middle;
        }//.story_book__intro__to-from--name

    .story_book__instructions{
        display: block;
        width: 270px;
        top: 325px;
        right: 176px;
        position: absolute;
        text-align: left;
        color: $grayLight;

    }//.story_book__instructions